<div class="form-new-wrapper">
  <h2 class="form-new-prep-title ">Edit your meal prep</h2>
  <div class="container form-container">
    <div class="form-new-prep">
      <%= simple_form_for (@prep) do |f| %>
        <%= f.input :name, placeholder: "Henry McLover" %>
        <%= f.input :description, placeholder: "Talk a bit about your event..."%>
        <%= f.input :max_participants, placeholder: "1 - 20" %>
        <%= f.input :time, minute_step: 15, wrapper_html: { class: "form-inline form-inputs" } %>
        <%= f.input :location, placeholder: "158 Julu Road, Shanghai" %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <div class="form-new-prep-button">
          <%= f.submit "Update", class: "btn_skinny text-align" %>
        </div>
      <% end %>
      <br>
      <%= link_to "Back to Index", preps_path %>
    </div>
  </div>
</div>