<h1>hello</h1>
<p>Find me in app/views/preps/index.html.erb</p>
<% @preps.each do |prep| %>
  <ul>
    <li>
      <%= link_to prep_path(prep) do %>
        <h3><%= prep.name %> </h3>
      <% end %>
      <p><%= prep.meal %></p>
      <p><%= prep.time %></p>
      <p><%= prep.location %></p>
    </li>
  </ul>
<% end %>
<br>
<br>
<div class="card_container">
  <div class="card_prep-body">
    <div class="card_prep-photo">
    </div>
  </div>
</div>
<br>
<br>
<div class="btn_fat">hello</div>
<div class="btn_skinny">skinny</div>