<div class="card_wrapper-preps">
  <br>
  <br>
  <br>
  <a href="#" class="btn_fat">Fat button</a>
  <a href="#" class="btn_skinny">Skinny button</a>
  <a href="#" class="btn_square-red">Square button</a>
  <a href="#" class="btn_square-faded">Faded button</a>
  <br>
  <br>
  <br>
  <br>
  <div class="card_container">
    <div class="card_prep-body">
      <div class="card_prep-photo" style="background-image: url('https://greatist.com/sites/default/files/Chicken%20Meal%20Prep.jpg')">
      </div>
      <div class="card_avatar-sm" style="background-image: url('https://thumbnails.aaehq.com/t_face_s70/https://speakerdata2.s3.amazonaws.com/photo/image/801143/adam-sandler-1.png'); background-size: cover"></div>
      <div class="card_tags">
        tag1 | tag2 | tag3
      </div>
      <div class="card_prep-title">
        <h1><strong>Meal prep description</strong></h1>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
<h1>hello</h1>
<p>Find me in app/views/preps/index.html.erb</p>
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>" >
</div>
<% @preps.each do |prep| %>
  <ul>
    <li>
      <%= link_to prep_path(prep) do %>
        <h3><%= prep.name %> </h3>
      <% end %>
      <p><%= prep.meal %></p>
      <p><%= prep.time %></p>
      <p><%= prep.location %></p>
      <p><% prep.tag_list.each do |tag| %>
          <%= link_to tag, tagged_path(tag: tag) %>
        <% end %>
      </p>
    </li>
  </ul>
<% end %>
<%= link_to "Make a New Meal Prep Event", new_prep_path %>