<h1>hello</h1>
<div class="card_wrapper">
  <div class="card_container">
    <div class="row">
      <%= render 'partials/prep-card' %>
      <%= render 'partials/prep-card' %>
      <%= render 'partials/prep-card' %>
      <%= render 'partials/prep-card' %>
      <%= render 'partials/prep-card' %>
      <%= render 'partials/prep-card' %>
    </div>
  </div>
  <!-- example -->
  <div class="landing_wrapper-about">
    <div class="landing_container">
      <div class="row">
        <div class="col col-xs-12  col-sm-4">
          <div class="landing_card-about">
            <div class="landing_card-about-title">
              <strong>Tell us about yourself</strong>
              <div class="landing_card-about-body">
                <p>Answer a few easy questions about your goals, lifestyle and values.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-xs-12  col-sm-4">
          <div class="landing_card-about">
            <div class="landing_card-about-title">
              <strong>Tell us about yourself</strong>
            </div>
          </div>
        </div>
        <div class="col col-xs-12  col-sm-4">
          <div class="landing_card-about">
            <div class="landing_card-about-title">
              <strong>Tell us about yourself</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- example -->
  <p>Find me in app/views/preps/index.html.erb</p>
  <% @preps.each do |prep| %>
    <ul>
      <li>
        <%= link_to prep_path(prep) do %>
          <h3><%= prep.name %> </h3>
        <% end %>
        <p><%= prep.meal %></p>
        <p><%= prep.time %></p>
        <p><%= prep.location %></p>
      </li>
    </ul>
  <% end %>
  <%= link_to "Make a New Meal Prep Event", new_prep_path %>