<h1>Preps#new</h1>
<p>Find me in app/views/preps/new.html.erb</p>
<%= simple_form_for (@prep) do |f| %>
  <%= f.input :name, placeholder: "Henry McLover" %>
  <%= f.input :description, placeholder: "Talk a bit about your event..."%>
  <%= f.input :tag_list, hint: "People are using these tags most: (#{@most_used_tags.join(", ")})" %>
  <%= f.input :max_participants, placeholder: "1 - 20" %>
  <%= f.input :time %>
  <%= f.input :location, placeholder: "158 Julu Road, Shanghai" %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit "Add an Event", class: "btn btn-primary" %>
<% end %>
<%= link_to "Back to Index", preps_path %>