<div class="show-wrapper">
  <div class="show-container">
    <div class="row">
      <div class="col col-md-6" style="margin: 30px 0;">
        <div class="show-card">
          <div class="show-card-left-photo" style="background-image: url('<%= @prep.photo? ? (cl_image_path @prep.photo) : (image_url 'placeholdermeal2.jpg') %>'); background-size: cover">
          </div>
          <div class="show-card-body-left">
            <div class="show-card-tags" style="text-decoration: none;">
              <% @prep.tag_list.each do |tag| %>
                <%= link_to tag, tagged_path(tag: tag) %>
              <% end %>
            </div>
            <div class="show-card-meal-title">
              <p><strong><%= @prep.name %></strong></p>
            </div>
            <div class="show-card-meal-description">
              <p><%= @prep.description %></p>
            </div>
            <div class="show-button-container">
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-6" style="position: sticky !important;
  top: 0 !important; margin: 30px 0;">
        <div class="show-card">
          <div class="show-card-join">
            <% if @user_booking_status %>
              <%= link_to "Cancel", prep_booking_path(@booking),
              method: :delete,
              data: { confirm: "Cancel this booking?" },
              class:"btn_fat" %>
            <% elsif @prep.user == current_user %>
              <%= link_to "Edit", edit_prep_path(@prep),
              class:"btn_fat" %>
            <% else %>
              <%= link_to "Join", prep_bookings_path(@prep),
              method: :post,
              data: { confirm: "Are you sure?" },
              class:"btn_fat" %>
            <% end %>
          </div>
          <ul class="list-inline show-card-booked-avatars">
            <% @prep.bookings.each do |booking| %>
              <li style="list-style-type: none;">
                <%= link_to user_path(booking.user) do %>
                  <div class="show-card-avatar-sm" style="background: url('<%= booking.user.photo? ? (cl_image_path booking.user.photo) : (image_url 'logo.png') %>'); background-size: cover;"></div>
                <% end %>
              </li>
            <% end %>
          </ul>
          <%= link_to user_path(@prep.user) do %>
            <div class="show-card-avatar-md" style="background: url('<%= @prep.user.photo? ? (cl_image_path @prep.user.photo) : (image_url 'logo.png') %>'); background-size: cover;"></div>
          <% end %>
          <div class="show-card-meal-location-count" style="margin: 25px;">
            <p><strong>Location</strong> | <%= @prep.location %> </p>
            <p><strong>Max preppers</strong> | <%= @prep.max_participants %></p>
            <p><strong>Time</strong> | <%= @prep.nicetime %></p>
            <p><strong>Who's going</strong></p>
          </div>
          <div class="show-card-title">
            <p> <strong><%= @prep.user.name %></strong> | head chef</p>
          </div>
          <div class="show-card-body-right">
          </div>
          <div class="show-card-right-map">
            <div id="map" data-markers="<%= @marker.to_json %>">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>