<div class="show-wrapper">
  <div class="show-container">
    <div class="row">
      <div class="col col-md-6">
        <div class="show-card-body-left" style="background-image: url('https://greatist.com/sites/default/files/Chicken%20Meal%20Prep.jpg')">
          <div class="show-card-body-left-bottom"></div>
        </div>
      </div>
      <div class="col col-md-6" style="height: 100%;">
        <div class="show-card-body-right">
          hello
        </div>
      </div>
    </div>
  </div>
</div>
<h1>Preps#show</h1>
<p>Find me in app/views/preps/show.html.erb</p>
<h2><%= @prep.name %></h2>
<%= cl_image_tag @prep.photo, height: 300, width: 400, crop: :fill %>
<p><%= @prep.meal %></p>
<p><%= @prep.description %></p>
<p>Max # of Participants: <%= @prep.max_participants %></p>
<p><%= @prep.time %></p>
<p><%= @prep.location %></p>
<p><% @prep.tag_list.each do |tag| %>
    <%= link_to tag, tagged_path(tag: tag) %>
  <% end %>
</p>
<p><strong>Bookings:</strong></p>
<ul>
  <% @prep.bookings.each do |booking| %>
    <li><%= booking.user.name %>
      <%= link_to "Check out their bio", user_path(booking.user) %>
    </li>
  <% end %>
</ul>
<p><strong>Reviews:</strong></p>
<ul>
  <% @prep.reviews.each do |review| %>
    <li>
      <p><%= review.user.name %></p>
      <p><%= review.content %></p>
      <p><%= review.rating %></p>
    </li>
  <% end %>
</ul>
<%= link_to "Home", preps_path %>
<%= link_to "Book", prep_bookings_path(@prep),
      method: :post,
      data: { confirm: "Book this meal prep?" } %>
<% if @prep.user == current_user %>
  <%= link_to "Edit", edit_prep_path(@prep) %>
  <%= link_to "Delete", prep_path(@prep),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<% end %>
<% if @prep.check_booking_status?(current_user) && @prep.check_event_time? %>
  <%= link_to "Review", new_prep_review_path(@prep) %>
<% end %>