<h1>Preps#show</h1>
<p>Find me in app/views/preps/show.html.erb</p>
<h2><%= @prep.name %></h2>
<p><%= @prep.meal %></p>
<p><%= @prep.description %></p>
<p>Max # of Participants: <%= @prep.max_participants %></p>
<p><%= @prep.time %></p>
<p><%= @prep.location %></p>