<% @preps.each do |prep| %>
  <div class="col col-xs-12 col-sm-6 col-lg-4">
    <%= link_to prep_path(prep) do  %>
      <div class="card_prep-body">
        <div class="card_prep-photo" style="background-image: url('<%= prep.photo.present? ? (cl_image_path prep.photo) : (image_path prep.image_link) %>')">
          <div class="card_avatar-sm" style="background-image: url('<%= prep.user.photo.present? ? (cl_image_path prep.user.photo) : (image_url 'profileavatarplaceholder.png') %>'); background-size: cover; background-position: center;"></div>
        </div>
        <div class="card_tags">
          <%= prep.tag_list %>
        </div>
        <div class="card_prep-name">
          <h1><strong><%= prep.name %></strong></h1>
        </div>
        <div class="card_prep-description">
          <p><%= prep.description %></p>
        </div>
        <div class="card_prep-location-participants">
          <p><%= prep.location %> | <%= prep.max_participants %> preppers</p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>