<div class="user-show-wrapper">
  <div class="user-show-container">
    <div class="row">
      <div class="col col-md-6 col-xs-12">
        <div class="user-show-wrapper-user-container">
          <div class="user-show-wrapper-user-container-avatar" style="background: url('<%= @user.photo? ? (cl_image_path @user.photo) : (image_url 'logo.png') %>'); background-size: cover;">
          </div>
          <div class="user-show-wrapper-user-container-name">
            <h3>Hey, I'm <%= @user.name %>.</h3>
          </div>
          <div class="user-show-wrapper-user-container-location">
            <%= @user.location %>
          </div>
          <div class="user-show-wrapper-user-container-bio">
            <%= @user.bio %>
          </div>
          <div class="user-show-wrapper-user-container-time">
            <p><strong>prep</strong>Clubber since: <%= @user.nicetime %></p>
          </div>
          <div class="user-show-wrapper-user-container-links">
            <% if @user == current_user %>
              <%= link_to "Edit", edit_user_registration_path, class:"btn_skinny" %>
            <% else %>
              <%= mail_to @user.email, "Contact", class:"btn_skinny" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col col-md-6 col-xs-12">
        <div class="user-show-wrapper-meal-container">
          <div class="user-show-wrapper-meal-container-title">
            <h3>Upcoming prepClub events</h3>
          </div>
          <% if @user.preps.empty? %>
            <div class="user-show-wrapper-meal-container-card-no-prep">
              <p>This user has not yet created any prep events. Connect with them to get started!</p>
            </div>
          <% else %>
            <div class="user-show-wrapper-meal-container-card-container">
              <% @user.preps.each do |prep| %>
                <%= link_to prep_path(prep) do %>
                  <div class="user-show-wrapper-meal-container-card" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.28) 99.99%, rgba(255, 255, 255, 0) 100%), url('<%= cl_image_path prep.photo %>')">
                    <div class="user-show-wrapper-meal-container-card-name">
                      <h4><%= prep.name %></h4>
                      <p><%= prep.nicetime %></p>
                      <p><%= prep.location %></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>