<h1>Elegant Contact Form</h1>
<br>
<br>
<h1 style="text-align: center">Elegant Contact Form</h1>
>>>>>>> master
<form class="cf">
  <div class="half left cf">
    <input type="text" id="input-name" placeholder="Name">
    <input type="email" id="input-email" placeholder="Email address">
    <input type="text" id="input-subject" placeholder="Subject">
  </div>
  <div class="half right cf">
    <textarea name="message" type="text" id="input-message" placeholder="Message"></textarea>
  </div>
  <input type="submit" value="Submit" id="input-submit">
</form>
<br>
<br>
<h2>Sign up</h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="cf">
    <div class="half left cf">
      <%= f.input :email, label: false, required: true, autofocus: true, placeholder: 'email', label_html: { id: 'input' } %>
      <%= f.input :password, label: false, required: true, placeholder: ("enter password, #{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, label: false, required: true, placeholder: 'confirm password' %>
    </div>
    <div class="half right cf">
      <%= f.input :bio, label: false, placeholder: 'bio' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>