<div class="landing_banner" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 99.99%, rgba(255, 255, 255, 0) 100%), url('<%= image_path 'bannerimage.jpg' %>');">
  <div class="landing_banner-container">
    <h1 style="text-align: center">Cook food. Make friends.</h1>
    <p style="margin-bottom: 50px">Making meal prep easy, fun and social</p>
    <%= link_to "Discover", preps_path, class:"banner-btn-red" %>
  </div>
</div>
<div class="landing_wrapper-review">
  <div class="landing_wrapper-review_container">
    <div style="text-align: center; margin-bottom: 10px"><%= image_tag '5stars.svg' %></div>
    <div><i>"Fantastic way to meet new people and make delicious food"</i></div>
    <div style="text-align: center;"><strong>Dounan H.</strong></div>
  </div>
</div>
<div class="landing_wrapper-about">
  <div class="landing_container">
    <div class="row">
      <div class="col col-xs-12  col-sm-4">
        <div class="landing_card-about">
          <div class="landing_card-about-icon">
            <%= image_tag '003-friends.svg', height: 50 %>
          </div>
          <div class="landing_card-about-title">
            <strong>Discover</strong>
            <div class="landing_card-about-body">
              <p>Find meal prepping events near you.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-xs-12  col-sm-4">
        <div class="landing_card-about">
          <div class="landing_card-about-icon">
            <%= image_tag '005-chat.svg', height: 50 %>
          </div>
          <div class="landing_card-about-title">
            <strong>Book</strong>
          </div>
          <div class="landing_card-about-body">
            <p>Sign up for an event that fits your needs.</p>
          </div>
        </div>
      </div>
      <div class="col col-xs-12  col-sm-4">
        <div class="landing_card-about">
          <div class="landing_card-about-icon">
            <%= image_tag '004-laugh.svg' , height: 50 %>
          </div>
          <div class="landing_card-about-title">
            <strong>Host</strong>
          </div>
          <div class="landing_card-about-body">
            <p>Create your own meal prepping event and invite your friends!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="landing_info-banner" style="background-image: url('<%= image_path 'foodbanner2-1.jpg' %>');">
  <div class="landing_info-banner-inner">
    <div class="landing_info-banner-title">
      Why prep?
    </div>
    <div class="landing_info-banner-body">
      <p>No more wasting money on eating out every single day. Take control of your diet by cooking your own food. Making meals in advance saves time, money and your waistline.</p>
    </div>
  </div>
</div>