<div class="landing_banner" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 99.99%, rgba(255, 255, 255, 0) 100%), url('<%= image_path 'bannerimage.jpg' %>');">
  <div class="landing_banner-container">
    <h1 style="text-align: center">Cook food. Make friends.</h1>
    <p style="margin-bottom: 50px">Making meal prep easy, fun and social</p>
    <%= link_to "Discover", preps_path, class:"banner-btn-red" %>
  </div>
</div>
<div class="landing_wrapper-about">
  <div class="landing_container">
    <div class="footer-h3" style="text-align: center;">
      <span>It's simple</span>
    </div>
    <div class="row">
      <div class="col col-xs-12  col-sm-4">
        <div class="landing_card-about">
          <div class="landing_card-about-icon">
            <%= image_tag '003-friends.svg', height: 60 %>
          </div>
          <div class="landing_card-about-title">
            <strong>Discover</strong>
            <div class="landing_card-about-body">
              <p>Find meal prepping events near you. Browse by recipe, tags, and location.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-xs-12  col-sm-4">
        <div class="landing_card-about">
          <div class="landing_card-about-icon">
            <%= image_tag '005-chat.svg', height: 60 %>
          </div>
          <div class="landing_card-about-title">
            <strong>Book</strong>
          </div>
          <div class="landing_card-about-body">
            <p>Sign up for an event that suits you. </p>
          </div>
        </div>
      </div>
      <div class="col col-xs-12  col-sm-4">
        <div class="landing_card-about">
          <div class="landing_card-about-icon">
            <%= image_tag '004-laugh.svg' , height: 60 %>
          </div>
          <div class="landing_card-about-title">
            <strong>Host</strong>
          </div>
          <div class="landing_card-about-body">
            <p>Create your own meal prepping event and meet people to cook together!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="landing_info-banner" style="background-image: url('<%= image_path 'foodbanner2-1.jpg' %>');">
  <div class="landing_info-banner-inner">
    <div class="landing_why-prep-card">
      <div class="landing_why-prep-body">
        <h1>Why prep?</h1>
        <p>No more wasting money on eating out every single day. Take control of your diet by cooking your own food. Making meals in advance saves time, money and your waistline. Find a recipe that suits your goals today.</p>
      </div>
    </div>
  </div>
</div>
<div class="landing_wrapper-review">
  <div class="landing_wrapper-review_container">
    <div style="text-align: center; margin-bottom: 10px"><%= image_tag '5stars.svg' %></div>
    <div class="review-text"><i>"Fantastic way to meet new people and make delicious food"</i></div>
    <div style="text-align: center;"><strong>Mel C.</strong></div>
  </div>
</div>
<div class="landing_wrapper-about">
  <div class="landing_bottom-container">
    <div class="row">
      <div class="col col-xs-12  col-sm-6" style="padding: 0px;">
        <div class="landing_card-about-bottom">
          <div class="landing_card-people-title" >
            <div class="landing_card-people-body">
              <div class="footer-h3" style="font-weight: 350;"> <span>Meet new people</span></div>
              <h4>Connect with fellow meal preppers</h4>
              <p>Socializing is a great way to make cooking fun. Search for home cooks near you who share your passion and lifestyle goals. Whether you're looking for other vegans or fellow protein junkies, </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-xs-12  col-sm-6" style="padding: 0px;">
        <div class="landing_card-about-bottom-content">
          <div class="landing_card-about-bottom-content-cards">
            <div class="landing_card-about-bottom-content-cards-inner">
              <div class="landing_card-about-bottom-content-cards-inner-photo" style="background-image: url('<%= image_path 'person6.png' %>')"></div>
              <div class="landing_card-about-bottom-content-cards-inner-comment">
                <p>Meal prepping is a chance for me to catch up with my friends. I also love having healthy meals for the rest of the week all sorted.</p>
                <p><strong>Joseph L</strong></p>
              </div>
            </div>
          </div>
          <div class="landing_card-about-bottom-content-cards">
            <div class="landing_card-about-bottom-content-cards-inner">
              <div class="landing_card-about-bottom-content-cards-inner-photo" style="background-image: url('<%= image_path 'person5.jpg' %>')"></div>
              <div class="landing_card-about-bottom-content-cards-inner-comment">
                <p>My passion is making traditional Chinese dishes. Investing time to prepare food saves me time for the rest of the week.</p>
                <p><strong>Cheng Zhen</strong></p>
              </div>
            </div>
          </div>
          <div class="landing_card-about-bottom-content-cards" style="margin-bottom: 15px;">
            <div class="landing_card-about-bottom-content-cards-inner">
              <div class="landing_card-about-bottom-content-cards-inner-photo" style="background-image: url('<%= image_path 'person3.jpg' %>')"></div>
              <div class="landing_card-about-bottom-content-cards-inner-comment">
                <p>I love prep club because it lets me meet like-minded people. We share tips and recipes on how to stay healthy.</p>
                <p><strong>Valerie W</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="landing_friends-banner" style="background-image: url('http://blueprintfitnessatlanta.com/wp-content/uploads/2017/11/TS-459939037_young-people-cooking-dinner-together.jpg.rend_.hgtvcom.1280.960.jpg');">
  <div class="landing_friends-banner-inner">
    <div class="landing_friends-prep-card">
      <div class="landing_friends-prep-body">
        <h1>Food is social</h1>
        <p>Cooking as a group just makes more sense. Not only is it more fun, you split the costs and the work. prepClub has everything you need to bring cook food and to make friends.</p>
      </div>
    </div>
  </div>
</div>