<h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p>
<%= simple_form_for [@prep, @review] do |f| %>
  <%= f.input :content, placeholder: "Henry McLover" %>
  <%= f.input :rating, placeholder: "Talk a bit about your event..."%>
  <%= f.submit "Add Your Review", class: "btn btn-primary" %>
<% end %>
<%= link_to "Back to Event Page", prep_path(params[:prep_id]) %>